{% extends "base.html" %}

{% block content %}
<h1>Lista zadań</h1>

<form method="POST">
    <input type="text" name="content" placeholder="Nowe zadanie" required>
    <button>Dodaj</button>
</form>

<ul>
    {% for task in tasks %}
        <li>
            {% if task.done %}
                <s>{{ task.content }}</s>
            {% else %}
                {{ task.content }}
                <a href="{{ url_for('mark_done', id=task.id) }}">[✓]</a>
            {% endif %}
            <a href="{{ url_for('delete', id=task.id) }}">[Usuń]</a>
        </li>
    {% else %}
        <li>Brak zadań.</li>
    {% endfor %}
</ul>
{% endblock %}
